embucket_demo:
  target: dev
  outputs:
    dev:
      type: embucket
      function_arn: "YOUR_LAMBDA_ARN_HERE"
      account: "embucket"
      user: "demo_user"
      password: "demo_password_2026"
      database: "demo"
      schema: "atomic"
      threads: 1
    snowflake:
      type: snowflake
      account: YOUR_SNOWFLAKE_ACCOUNT
      user: YOUR_SNOWFLAKE_USER
      password: YOUR_SNOWFLAKE_PASSWORD
      role: YOUR_SNOWFLAKE_ROLE
      warehouse: YOUR_SNOWFLAKE_WAREHOUSE
      database: sturukin_db
      schema: atomic
      threads: 4
